.header-clients{
    background-color: var(--bg-color-primary);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 16px;
}

.item{
    color: var(--font-color-primary);
    text-decoration: none;
    margin-right: 10px;
}

.homeicon{
    width: 30px;
    height: 30px;
}

.item-active{
    font-weight: 700;
}