.header-categories{
    width: 960px;
    height: 60px;
    background-color: #C7C7C7;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.item-categories{
    color: var(--font-color-secondary);
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
}