@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Inter:wght@300;700&family=Open+Sans:wght@300;700&family=Poppins:wght@300;700&display=swap');

:root {
  --bg-color-primary: #2D28FF;
  --bg-color-secondary: #FFFFFF;
  --bg-color-tertiary : #C7C7C7;

  --font-color-primary: #FFFFFF;
  --font-color-secondary: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

h1{
  color: var(--font-color-secondary);
  font-weight: 700;
  font-size: 24px;    
  margin-top: 10px;
  margin-left: 70px;
}

main {
  padding: 20px;
}